{% block stylesheets %}
           
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/foundation.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/app.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/estilo.css')}}" />
{% endblock %}
{%block body %}
    <div class="row">
        {% if error %}
            <div>{{error.message}}</div>
        {% endif %}    
        <span class="alert-sucess">
            {{flashMessage}}
        </span>
        <form name="form1" method="post" action="{{path('login_check')}}">
            <div class="large-4 columns">
                <br/>
                <br/>
                <div class="large-push-10 columns">
                    <label>Usuario:</label>
                    <input type="text" name="_username" id="username" value="{{last_username}}"/>
                    <br/>
                    <label>Contraseña:</label>
                    <input type="text" name="_password" id="password" />
                    <input type="submit" value="Aceptar" id="aceptar"/>
                    <br/>
                </div>
                    <a href="{{path('nuevo_usuario') }}" class="small button">Nuevo Usuario</a>
            </div>    
        </form>
    </div>
{%endblock %}