{% block stylesheets %}
           
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/foundation.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/app.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/estilo.css')}}" />
{% endblock %}
{%block body %}
    <div class="row">
          
        
        <form name="form1" method="POST" action="{{path('login')}}">
            <div class="large-4 columns">
                <br/>
                <br/>
                <div class="large-push-10 columns">
                    <label>Usuario:</label>
                    <input type="text" name="username" id="username" />
                    <br/>
                    <label>Contraseña:</label>
                    <input type="password" name="password" id="password" />
                    <input type="submit" value="Aceptar" id="aceptar"/>
                    <br/>
                </div>
                    <a href="{{path('login_signup') }}" class="small button">Nuevo Usuario</a>
            </div>    
        </form>
    </div>
{%endblock %}