

{% block stylesheets %}
           
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/foundation.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/app.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/estilo.css')}}" />
{% endblock %}

{%block container %}
<div class="row">
    <form id="form"  method="POST" action="{{path('login_signup')}}" >
        <div class="large-4 columns">
            <br/>
            <br/>
            <a href="{{path('login') }}" class="small button">Entrar al Sistema</a>
            <div class="large-push-10 columns">
                <h2>Alta de Usuario</h2>
                <label>Usuario</label>
                <input type="text" id="username" name="username" >
                <label>Contraseña</label>
                <input type="password" name="password">
                <div>
                    <button class="small button" type="submit" >Create Account</button>
                </div>
            </div>
        </div>
    </form>
</div>
 {%endblock%}