<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prueba{%endblock%}</title>
        {% block stylesheets %}
           
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/foundation.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/app.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/clinicaapp/css/estilo.css')}}" />
        {% endblock %}
        
    </head>
    <body>
        <div class="row" id="sidebar" >
            <div id="menu" class="large-12 columns">
                {%block sidebar %}
                    <ul>
                        <li><a href="/" class="small button">Home</a></li>
                        <li><a href="{{path('nuevo_cliente') }}" class="small button">Alta Cliente</a></li>
                        <li><a href="{{path('mostrar_cliente')}}" class="small button">Lista de Clientes </a></li>
                        <li><a href="{{path('nuevo_doctor') }}" class="small button">Alta Doctor </a></li>
                        <li><a href="{{path('mostrar_doctor') }}" class="small button">Lista de Doctores </a></li>
                        <li><a href="/Citas" class="small button">Citas</a></li>
                        <li><a href="/Cancelacion" class="small button">Cancelacion</a></li>
                        <li><a href="{{path('logout')}}" class="small button">Salir</a></li>
                    </ul>
                {% endblock %}
            </div>
            <div class="large-12 columns">
                {%block body %}
                {% endblock %}
            </div>
            {% set contact_email = "value" %}

            <div id="pie" class="large-12 columns">
                <footer>
                Contacto: {{ contact_email }}
                </footer>
            </div>
        </div>
        
    </body>
</html>
